## Assignment 1

### Question 15

#### Create a 6 x 10 matrix of random integers chosen from 1, 2,: : : , 10 by executing the following two lines of code:

In [1]:
set.seed(75)
aMat <- matrix( sample(10, size=60, replace=T), nr=6)

In [2]:
aMat

     [,1] [,2] [,3] [,4] [,5] [,6] [,7] [,8] [,9] [,10]
[1,] 3     6   7    7     2    4    3   7     1   4
[2,] 1     9   8    7     2    6   10   9     5   2
[3,] 7    10   8    4    10    5    4   8     4   4
[4,] 4     3   1    1     3    3    9   7     4   2
[5,] 1     8   1    9     9    8    1   3     7   7
[6,] 2     6   7    5     6   10    4   6    10   1

In [3]:
attributes(aMat)

$dim
[1]  6 10

#### (a) Find the number of entries in each row which are greater than 4.

In [4]:
for (i in 1:dim(aMat)[1]) {
    print(length(aMat[i, ][aMat[i, ] > 4]))
}

[1] 4
[1] 7
[1] 6
[1] 2
[1] 6
[1] 7

#### (b) Which rows contain exactly two occurrences of the number seven?

In [5]:
for (i in 1:dim(aMat)[1]) {
    
    if (length(aMat[i, ][aMat[i, ] == 7]) == 2) {
        print(i)
    }
}

[1] 5

#### (c) Find those pairs of columns whose total (over both columns) is greater than 75.

In [6]:
solSum = rep(0, dim(aMat)[2])

for (i in 1:dim(aMat)[2]) {
    solSum[i] = sum(aMat[, i])
}

In [7]:
solSum

 [1] 18 42 32 33 32 36 31 40 31 20

In [8]:
result = c()

for (i in 1:length(solSum)) {
    for (j in 1:i) {
        if (solSum[i] + solSum[j] > 75 && i != j) {
            print(c(i, j))
            result = c(result, c(i, j))
        }
    }
}

[1] 6 2
[1] 8 2
[1] 8 6

In [9]:
result = matrix(result, ncol = 2)

In [10]:
result

     [,1] [,2]
[1,] 6    2
[2,] 2    8
[3,] 8    6