## Assignment 1

### Question 13

In [1]:
A = matrix(c(1, 5, -2, 1, 2, -1, 3, 6, -3), nrow = 3, ncol = 3)

In [2]:
A

     [,1] [,2] [,3]
[1,]  1    1    3
[2,]  5    2    6
[3,] -2   -1   -3

#### (a) Check that A3 = 0 where 0 is a 3x 3 matrix with every entry equal to 0.

In [3]:
A3 = A %*% A %*% A

In [4]:
A3

     [,1] [,2] [,3]
[1,] 0    0    0
[2,] 0    0    0
[3,] 0    0    0


#### (b) Replace the third column of A by the sum of the second and third columns.

In [6]:
A[,3] = A[,2] + A[,3]

In [7]:
A[,3]

[1]  4  8 -4

In [8]:
A

     [,1] [,2] [,3]
[1,]  1    1    4
[2,]  5    2    8
[3,] -2   -1   -4